
.immagine {
    width: 100px;
    vertical-align: middle;
    padding-left:50px ;
    padding-bottom:50px ;
    padding-top:50px ;
    margin-bottom: 1%;
}


.Testo {
    display: inline-block;
    font-weight: 700;
    font-size: 70px;
    margin-top: 10px;
    line-height: 70px;
    margin-top: 6px;
    font-family: 'Coda Caption', sans-serif;
}