* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}


.immagine {
    width: 120px;
    vertical-align: middle;
    padding-left:50px ;
    padding-bottom:50px ;
    padding-top:50px ;
    margin-bottom: 1%;
}


.Testo {
    display: inline-block;
    font-weight: 700;
    font-size: 70px;
    margin-top: 10px;
    line-height: 70px;
    margin-top: 6px;
    font-family: 'Coda Caption', sans-serif;
}

html{
    background-color: #f6f8f9;
}

header{
    background-color: white;
}

.sfondo{
    width: 80%;
    margin: 0;
    background-color: white;
    margin-left: 5%;
}

.bottone1{
    color: white;
    margin-left: 18%;
    width: 8%;
    padding: 18px 32px;
    background-color: #47ADF1;
    border-radius: 8px;
    border-color: lightgrey;
}

.bottone2{
    color: grey;
    margin-left: 5px;
    width: 8%;
    padding: 18px 32px;
    background-color: white;
    border-radius: 8px;
    border-color: lightgrey;
    ;
}
